<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-ad-moceanjs"
    version="1.0.29">
	
    <name>Cordova MoceanJS plugin</name>
    <description>Cordova MoceanJS plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,ad,moceanjs</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-ad-moceanjs</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-ad-moceanjs/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <js-module src="www/moceanjs.js">
        <clobbers target="window.moceanjs" />
    </js-module>
	
    <!-- blackberry10 -->
    <platform name="blackberry10">
		<dependency id="com.blackberry.identity@2.1.0" />
		<dependency id="com.blackberry.system@1.0.0" />
		<dependency id="com.blackberry.community.deviceinfoplugin@1.0.1" />
		
        <config-file target="www/config.xml" parent="/widget">
			<feature id="blackberry.identity" />
			<feature id="blackberry.system" />
			<feature id="com.blackberry.community.deviceinfoplugin" />
			<access uri="http://mocean.mobi" subdomains="true" />
        </config-file>
        <config-file target="www/config.xml" parent="/widget/rim:permissions">
		  <rim:permit>read_cellular_data</rim:permit>
        </config-file>
    </platform>
</plugin>